<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ModeloObjetoComprador</servlet-name>
        <servlet-class>dataModelObject.ModeloObjetoComprador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DbUtil</servlet-name>
        <servlet-class>util.DbUtil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>util.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardar</servlet-name>
        <servlet-class>dataModelObject.guardar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModeloObjetoComprador</servlet-name>
        <url-pattern>/ModeloObjetoComprador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DbUtil</servlet-name>
        <url-pattern>/DbUtil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardar</servlet-name>
        <url-pattern>/guardar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
